<div>
    <p>Witaj {{ name }} </p>
    <p>Potwierdź adres email wchodząc w poniższy link</p>
    <a href="{{ schemeAndHttpHost ~ '/api/confirmation_token/' ~  tokenType ~ '/' ~ token }}">Potwierdź email</a>
</div>